@charset="utf-8";

body {
  font-size: 85%;
  background: rgb(245, 244, 244);
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  margin: 0;
}

body, input {
  font-family: "Consolas";
}

p {
  margin: 0;
}

input#input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.4em;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1em;
}
